* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    overflow-x: hidden;
}
.header p{
    padding: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
    float: left;
}
#about{
    margin-top: 20px;
    float: right;
    padding-top: 20px;
    padding-right: 25px;
}
#meddia{
    margin-top: 20px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
#Contact{
    margin-top: 20px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
#imagen{
    width: 100%;
}
h2{
    margin: 20px;
}
#parrafo{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    text-justify:auto;
    text-align: center;
}
#tarjetas{
    margin-left: 8px;
    margin-top:70px;
    height: 100%;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.9);
    padding-top: 24px;
    padding-bottom: 20px;
    border-radius: 15px;
}
.recuadro  {
    display: inline-block;
    vertical-align: top;
    padding:15px;
    margin: 13px;
    background-color: rgb(255, 255, 255);
    width: 22%;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}
.imagenes{
    display: inline-block;
    height: 100%;
    width: 30%;
    padding: 30px;
    border-radius: 15px;
    margin:8px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
.imagenes img{
    border-radius: 60px;
}
.imagenes p{
    margin: 8px;
}
#creadores{
    align-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.imagenes a{
    text-decoration: none;
    color: black;
}
.photo{
    width: 100%;
    height: 100%;
}
.historia{
    float: right;
    margin-right: 10px;
    display: block;
}
#moments{
    margin-top: 20px;
}
#recuadro{
    display: inline-block;
    width: 100%;
}
#selector{
    float: right;
    margin-right: 20px;
    
}
#titulo{
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 8px;
}
.titulos{
    margin-left: 27px;
}
.historia p{
    margin-right: 8px;
}
.fechas{
    display: inline-block;
    height: 400px;
    width: 20%;
    border-radius: 15px;
    margin:24px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(236, 236, 236);
}
.fechas img{
    width: 100%;
    height: 70%;
    border-radius: 12px;
}
#cuadrofecha{
    align-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
}
#footer{
    background-color: rgb(247, 247, 247);
    height: 770px;
}
#direcciones{
    width: 100%;
    height: 100%;
}
.lista{
    display: inline-block;
    width: 18%;
    padding: 3px;
    border-radius: 15px;
    margin:40px;
    text-align: left;
    vertical-align: top;  
}
.lista li{
    margin-top: 25px;
    list-style: none;
}
.lista a{
    text-decoration:none;
    color: black;
}
.info{
    margin-top: 24px;
    margin-left: 40px;
    width: 50%;
    margin-bottom: 40px;
}
.info h5{
    margin-bottom: 25px;
}
#bottom{
    margin-left: 40px;
    margin-bottom: 30px;
}
#redes{
    float:right;
}
#terminos li{
    list-style: none;
}
.copy{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.listacopy{
    vertical-align: top;
}
.copy li{
    float: right;
    margin: 4px;
    vertical-align: top;
}
.copy ul{
    display: inline-block;
}
.redes{
    float: right;
}
.imagenes a:hover{
    text-decoration: underline;
}
.lista a:hover{
    text-decoration: underline;
}
#logo:hover {
    background-color: rgba(174, 174, 174, 0.15);
}
#about:hover {   
    background-color: rgba(174, 174, 174, 0.15);
}
#meddia:hover {
    background-color: rgba(174, 174, 174, 0.15);
}
#Contact:hover {
    background-color: rgba(174, 174, 174, 0.15);
}
@media(max-width:1047px){
    .fechas{
        display: inline-block;
        height: 100%;
        width: 35%;
        border-radius: 15px;
        margin:50px;
        text-align: center;
        text-decoration: none;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(236, 236, 236);
    }
    .fechas img{
        width: 100%;
        height: 80%;
        border-radius: 12px;
    }
    
}
@media (max-width:800px){
    #about{
        display: block;
        margin-top: 58px;
        padding-top: 20px;
        padding-right: 25px;
        float: none;
    }
    #meddia{
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 20px;
        float: none;
    }
    #Contact{
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 20px;
        float: none;
    }
    .header p{
        padding: 15px;
    }
    #parrafo{
        margin: 30px;
    }
    #tarjetas{
        height: 100%;
        width: 100%;
        background-color: rgba(231, 231, 231, 0.9);
        padding-top: 24px;
        padding-bottom: 20px;
        border-radius: 15px;
    }
    .recuadro  {
        display: inline-block;
        vertical-align: top;
        padding:15px;
        margin: 13px;
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: 220px;
        
    }
    .imagenes{
        width: 80%;
       border-radius: 8px;
    }
    .fechas{
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        margin:50px;
        text-align: center;
        text-decoration: none;
        vertical-align: top;
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(236, 236, 236);
    }
    .fechas img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    #direciones{
        display: flex;
        flex-direction: column;
    }
    .lista ul{
        display: flex;
        flex-direction: row;
        margin: 8px;
        padding: 10px;
    }
}
